services:
  # Your typical backend dependencies
  postgres:
    image: postgres:18.1
    environment:
      - 'POSTGRES_USER=spring'
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=devpassword'
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
  frontend_node_modules:
