name: Build & Push

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Log in to registry
        run: echo "${{ secrets.REGISTRY_PASSWORD }}" | docker login registry.jamespeters.co.uk -u ${{ secrets.REGISTRY_USERNAME }} --password-stdin

      - name: Build Docker image
        working-directory: ./backend
        run: ./gradlew bootBuildImage --imageName=registry.jamespeters.co.uk/sequence-game:latest

      - name: Push image
        run: docker push registry.jamespeters.co.uk/sequence-game:latest

      - name: Trigger Coolify deploy
        if: success()
        run:  |
          curl -f "${{ secrets.COOLIFY_WEBHOOK_URL }}" \
          --header "Authorization: ${{ secrets.COOLIFY_API_TOKEN }}"